*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    background-color: #fafafa;
}

.container{
    margin: 80px auto auto;
    max-width: 60%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.nav-links span a{
    display: inline-block;
    margin-right: 20px;
    padding: 12px 10px;
    color: #fff;
    background-color: #B83375;
    font-size: 14px;
    text-decoration: none;
}

.logo{
    width: 220px;
    border-radius: 1px;
    padding: 12px;
    color: #fff;
    background-color: #B83375;
    text-align: center;
}

.logo a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
}

.logo p{
    font-size: 8px;
    margin-top: 3px;
    color: #eee;
}

.component-title{
    margin-bottom: 30px;
}

.products-list-container{
    display: flex;
}

.products-list-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar{
    margin-left: 20px;
    padding: 20px;
    border: 2px solid #eee;
    width: 18%;
    background-color: #B83375;
}

.select-filter{
    margin-bottom: 15px;
    padding: 12px;
    width: 160px;
    outline: none;
}

.product{
    display: flex;
}

.product__image{
    margin-right: 20px;
    width: 220px;
    border: 2px solid #eee;
}

.product__image img{
    width: 100%;
    display: block;
}

.product__info{
    padding: 10px;
    background-color: #fff;
    border: 2px solid #eee;
}

.product__info h4{
    margin-bottom: 7px;
}

.product__info p{
    width: 650px;
    color: #666;
    font-size: 15px;
    line-height: 1.6;
}

.product__info span{
    display: inline-block;
    margin-top: 7px;
    color: #B83375;
    font-weight: bold;
}

label{
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
    display: block;
}

.add-product form > div{
    margin-bottom: 20px;
}

.add-product input{
    padding: 15px;
    border: 2px solid #eee;
}

.add-product textarea{
    padding: 20px;
    border: 2px solid #eee;
    width: 500px;
    height: 150px;
}

.form-first-group{
    display: flex;
    gap: 50px;
}

.form-first-group > div{
   width: 50%;
}

.form-first-group input, .form-first-group textarea{
    width: 100%;
 }

.first-input{
    margin-bottom: 30px;
}

.form-second-group{
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.form-second-group > div{
   width: 50%;
}

.form-second-group input, .form-second-group select{
    width: 100%;
    background-color: #fff;
 }

.form-second-group select{
    padding: 15px;
    border: 2px solid #eee;
    background-color: #fff;
 }

.select-label{
    margin-top: 15px;
    color: #eee;
}

 .submit--btn{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background-color: #B83375;
    font-size: 14px;
 }

